<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CurrentLatitude" value="41.010305" />
    <add key="CurrentLongitude" value="29.074330" />
    
    <add key="FlowdockChannelEmail" value="main@argeset.flowdock.com" />
    <add key="NotifyMailSubject" value="Yemek Vakti!" />  
    
    <add key="FoursquareClientId" value="JZRZY54GMEWWZNT5CFFUIZAFYVEJMS20XODRLOREUZ5KLGJE" />
    <add key="FoursquareClientSecret" value="ENENFMHKR1HXJ0Y3VLTXJUNWTP2OGLTNNXSCT3KJ23JFIRWY" />
  </appSettings>
</configuration>